<div class="row" style="min-height: 100%;">
    <nav class="nav navbar-light flex-column col-md-2 " style="background-color: #e3f2fd;">
        <a class="nav-link active brand" href="/inventory"><img src="/logo.png" width="150" height="110" alt="">
        </a>
        <a class="nav-link" href="/inventory"><i class="fas fa-home"></i> Dashboard</a>
        <a class="nav-link" href="/inventory/product"><i class="fab fa-product-hunt"></i> Products</a>
        <a class="nav-link" href="/inventory/worker"><i class="fas fa-money-bill-wave"></i> Workers</a>
        <a class="nav-link" href="/inventory/product/create"><i class="fas fa-address-book"></i> Create Product</a>
        <a class="nav-link" href="/inventory/worker/create"><i class="fas fa-address-book"></i> Create Worker</a>
    </nav>
