<div class="row">
    <nav class="nav flex-column col-md-2" style="height: 100%;">
        <a class="nav-link active brand" href="/">River Valley Tools</a>
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Dashboard</a>
        <a class="nav-link" href="/products"><i class="fab fa-product-hunt"></i> Products</a>
        <a class="nav-link" href="/purchases"><i class="fas fa-money-bill-wave"></i> Purchases</a>
        <a class="nav-link" href="/suppliers"><i class="fas fa-address-book"></i> Suppliers</a>
    </nav>
</div>